<% # temporary changes issue 438 %>

<tr class="email-header">
  <td colspan="2" style="padding: 18px;border-top: 6px solid #e77500;">
    <%= render 'request_header_patron' %>
  </td>
</tr>

<tr class="bib-info">
  <td colspan="2" style="padding: 18px;">
    <%= render 'bib_info_patron' %>
  </td>
</tr>

<tr>
  <td colspan="2" style="padding: 18px 18px 0;border-top:1px solid #ccc;">
    <%= render 'item_info' %>
  </td>
</tr>

<tr class="pikcup-info">
  <td colspan="2" style="padding: 18px;">
    <%= render 'pickup_info' %>
    <%= render 'covid_pickup_guidelines' %>
  </td>
</tr>
