    <% if requestable.ask_me? %>
        <%= render partial: 'help_me_get_it', locals: { requestable: requestable, request_context: request_context } %>
    <% elsif requestable.on_shelf_edd? %>
        <div class="delivery-option">Physical Item Delivery</div>
        <%= show_service_options requestable, mfhd %>
        <%= hidden_service_options requestable %>
        <%= pickup_choices requestable, default_pickups %>
        <%= render partial: 'digitization', locals: { requestable: requestable, request_context: request_context } %>
    <% elsif requestable.services.include?('recap_edd') %>
        <%= hidden_field_tag "requestable[][type]", "recap" %>
        <%= radio_button_tag "requestable[][delivery_mode_#{requestable.item[:id]}]", 'print', false, data: { target: "#fields-print__#{requestable.item['id']}" }, 'aria-controls' => "fields-print__#{requestable.item['id']}", class: 'control-label' %>
        <%= label_tag "requestable[][delivery_mode_#{requestable.item[:id]}_print]", I18n.t("requests.recap.delivery_label"), class: 'control-label', id: "requestable__type_recap_label_#{requestable.item[:id]}" %>
        <br/><small id="requestable__type_recap_caption_<%#= requestable.item[:id] %>" class="form-text text-muted"><%#= I18n.t('requests.recap.brief_msg') %></small>
        <br/>
        <%= pickup_choices requestable, default_pickups %>
        <%= radio_button_tag "requestable[][delivery_mode_#{requestable.item[:id]}]", "edd", false, data: { target: "#fields-eed__#{requestable.item[:id]}" }, 'aria-controls' => "fields-eed__#{requestable.item[:id]}", class: 'control-label' %>
        <%= label_tag "requestable[][delivery_mode_#{requestable.item[:id]}_edd]", "Electronic Delivery", class: 'control-label', id: "requestable__type_recap_edd_#{requestable.item[:id]}" %>
        <br/><small id="requestable__type_recap_edd_caption_<%= requestable.item[:id] %>" class="form-text"><%= I18n.t('requests.recap_edd.brief_msg') %></small>
        <%= render partial: "edd_fields", locals: { requestable: requestable, collapse_field: "" } %>
    <% else %>
        <% if requestable.ill_eligible? %>
          <span class="ill-data" data-ill-url="<%= requestable.illiad_request_url(request_context) %>"></span>
        <% end %>
        <%= show_service_options requestable, mfhd %>
        <%= hidden_service_options requestable %>
        <% unless ( requestable.aeon? || requestable.online? || requestable.ask_me? || ( requestable.scsb? && requestable.recallable? ))  %>
          <%= pickup_choices requestable, default_pickups %>
        <% end %>
        <% if requestable.annexa? || requestable.annexb? || requestable.lewis? ||
              requestable.plasma? || requestable.on_order? %>
          <%= hidden_field_tag "requestable[][type]", requestable.services.first %>
        <% end %>
    <% end %>