<div aria-live='polite' class='<%= collapse_field %>' id='fields-eed__<%= "#{requestable.preferred_request_id}" %>'>
  <small id="requestable__type_recap_edd_caption_<%= requestable.preferred_request_id %>" class="form-text brief-msg"><%= I18n.t('requests.recap_edd.brief_msg') %></small>
  <div class="card card-body bg-light">
    <fieldset class="form-group required">
      <%= label_tag "requestable__edd_art_title", 'Article/Chapter Title *', class: 'control-label col-sm-12' %>
      <div class="col-sm-6">
        <%= text_field_tag 'requestable[][edd_art_title]', "", value: "", placeholder: "", maxlength: 60, size: 30 %>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <%= label_tag "requestable__edd_start_page", 'Start Page', class: 'control-label col-sm-12' %>
      <div class="col-sm-6">
        <%= text_field_tag 'requestable[][edd_start_page]', "", value: "", placeholder: "1, xi, toc", maxlength: 20, size: 20 %>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <%= label_tag "requestable__edd_end_page", 'End Page', class: 'control-label col-sm-12' %>
      <div class="col-sm-6">
        <%= text_field_tag 'requestable[][edd_end_page]', "", value: "", placeholder: "20, xi", maxlength: 20, size: 20 %>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <%= label_tag "requestable__edd_volume_number", 'Volume Number', class: 'control-label col-sm-12' %>
      <div class="col-sm-6">
        <%= text_field_tag 'requestable[][edd_volume_number]', "", value: requestable.enum_value, placeholder: "Vol. 50", maxlength: 20, size: 20 %>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <%= label_tag "requestable__edd_issue", 'Issue', class: 'control-label col-sm-12' %>
      <div class="col-sm-6">
        <%= text_field_tag 'requestable[][edd_issue]', "", value: requestable.cron_value, placeholder: "3", maxlength: 20, size: 20 %>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <%= label_tag "requestable__edd_author", 'Author', class: 'control-label col-sm-12' %>
      <div class="col-sm-6">
        <%= text_field_tag 'requestable[][edd_author]', "", value: "", placeholder: "", maxlength: 60, size: 30 %>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <%= label_tag "requestable__edd_note", 'Note', class: 'control-label col-sm-12' %>
      <div class="col-sm-6">
        <%= text_field_tag 'requestable[][edd_note]', "", value: "", placeholder: "", maxlength: 60, size: 30 %>
      </div>
    </fieldset>
    <small class="col-sm-12">* indicates a required field for Electronic Delivery requests.</small>
  </div>
</div>