<% if @user.guest && @patron.blank? && !suppress_login(@request)%>
  <%= simple_form_for(:request, { url: login_url(@request), method: :post, html: { id: 'logins'}} ) do |l| %>
    <%= render partial: 'user_login_options', locals: { l: l } %>
  <% end %>
<% elsif !@user.guest && @patron == false %>
    <%= render partial: 'auth_user_lookup_fail' %>
<% elsif !@user.guest && @patron['barcode'].blank? %>
    <%= render partial: 'cas_user_no_barcode' %>
<% else %>
  <%= render partial: 'service_status' %>
  <%= simple_form_for(:request, { url: '/requests/submit.js', method: :post, remote: true, data: {type: 'script'}} ) do |f| %>
  <%= hidden_fields_request @request %>
    <% unless suppress_login(@request) %>
      <%= f.hidden_field :user_name, value: "#{pul_patron_name @patron}" %>
      <%= f.hidden_field :user_last_name, value: "#{pul_patron_last_name @patron}" %>
      <%= f.hidden_field :user_barcode, value: @patron[:barcode] %>
      <%= f.hidden_field :patron_id, value: @patron[:patron_id] %>
      <%= f.hidden_field :patron_group, value: @patron[:patron_group] %>
      <%= f.hidden_field :email, value: format_email(@patron[:active_email]) %>
    <% end %>

    <% unless @request.source.nil? %>
      <%= f.hidden_field :source, value: @request.source %>
    <% end %>
    <% if @mode == 'trace' %>
      <%= render partial: 'trace_instructions' %>
    <% end %>

    <div>
      <span class="error error-items">
      </span>
    </div>
    <%= render partial: 'umlaut_services' %>
    <% @request.sorted_requestable.each do |mfhd, requestable_list| %>
      <%= hidden_fields_mfhd @request.holdings[mfhd] %>
      <div class="table-responsive">
        <div id="holding<%= mfhd %>" class="table items table">
          <h2><%= current_location_label(@request.holdings[mfhd]["location"], requestable_list) %> <%= @request.holdings[mfhd]["call_number"] %></h2>

            <% unless @request.holdings[mfhd]["location_has"].nil? %>
                <div>
                  <h3>Location has: </h3>
                </div>
                <p>
                  <% @request.holdings[mfhd]["location_has"].each do |loc| %>
                    <%= loc %><br/>
                  <% end %>
                </p>
            <% end %>
        </div>
      </div>
      <div class="table-responsive-sm">
        <table class="table table-striped table-bordered request--available_items <%= show_tablesorter requestable_list%>">
          <thead>
            <th>Select</th>
            <th>Enumeration</th>
            <th>Status</th>
            <th colspan="2" id="delivery_options">Delivery Options</th>
          </thead>
          <tbody>
            <% requestable_list.each do |requestable| %>
              <% if requestable.has_item_data? || (requestable.services & ["on_shelf", "aeon", "on_order"]).present? %>
              <tr id='<%= "request_#{requestable.preferred_request_id}" %>'>
                  <td class='request--select'>
                    <%= hidden_field_tag 'requestable[][selected]', false %>
                    <%= item_checkbox @request.requestable, requestable %>
                    <% if requestable.has_item_data? %>
                      <%= hidden_fields_item requestable %>
                    <% end %>
                  </td>
                  <td>
                    <% if requestable.has_item_data? || requestable.scsb? %>
                      <span id="<%= "enum_#{requestable.preferred_request_id}" %>">
                        <%= enum_copy_display requestable.item %>
                      </span>
                    <% end %>
                  </td>
                  <td>
                    <% if requestable.has_item_data? || (requestable.services & ["on_order", "in_process"]).present? %>
                      <%= system_status_label requestable %>
                      <%= status_label requestable %>
                    <% end %>
                    <% if requestable.use_restriction? %>
                      <br/>
                      <%= requestable.item[:use_statement] %>
                    <% end %>
                  </td>
                  <% if requestable.services.include?('scan') %>
                    <td>
                        <ul class='service-list'>
                          <li class="service-item text-muted">
                            Request a scanned copy or a scanned selection for download. Expected delivery time 2-3 days.
                            <br/>
                            <a class='btn btn-primary btn-lg' href='<%= requestable.illiad_request_url(@request.ctx, requestable) %>'>Scan and Deliver</a>
                          </li>
                        </ul>
                      </td>
                  <% end %>
                <td class='request--options' aria-live="polite">
                  <% if requestable.ill_eligible? %>
                    <span class="ill-data" data-ill-url="<%= requestable.illiad_request_url(@request.ctx, requestable) %>"></span>
                  <% end %>
                  <%# TODO: Uncomment this block when recap reopens %>
                  <%# if requestable.services.include?('recap_edd') %>

                      <%#= hidden_field_tag "requestable[][type]", "recap" %>
                      <%#= radio_button_tag "requestable[][delivery_mode_#{requestable.item[:id]}]", 'print', false, data: { target: "#fields-print__#{requestable.item['id']}" }, 'aria-controls' => "fields-print__#{requestable.item['id']}", class: 'control-label' %>
                      <%#= label_tag "requestable[][delivery_mode_#{requestable.item[:id]}_print]", I18n.t("requests.recap.delivery_label"), class: 'control-label', id: "requestable__type_recap_label_#{requestable.item[:id]}" %>
                      <!--
                      <br/><small id="requestable__type_recap_caption_<%#= requestable.item[:id] %>" class="form-text text-muted"><%#= I18n.t('requests.recap.brief_msg') %></small>
                      <br/>
                      -->
                  <% unless requestable.services.include?('recap_edd') %>
                      <%= show_service_options requestable, mfhd %>
                      <%= hidden_service_options requestable %>
                  <% end %>
                  <% unless ( requestable.aeon? || requestable.online? || ( requestable.scsb? && requestable.recallable? ) ) %>
                    <%= pickup_choices requestable, @request.default_pickups %>
                  <% end %>
                  <% if requestable.services.include?('recap_edd') %>
                      <%= hidden_field_tag "requestable[][type]", "recap" %>
                      <%= radio_button_tag "requestable[][delivery_mode_#{requestable.item[:id]}]", "edd", false, data: { target: "#fields-eed__#{requestable.item[:id]}" }, 'aria-controls' => "fields-eed__#{requestable.item[:id]}", class: 'control-label' %>
                      <%= label_tag "requestable[][delivery_mode_#{requestable.item[:id]}_edd]", "Electronic Delivery", class: 'control-label', id: "requestable__type_recap_edd_#{requestable.item[:id]}" %>
                      <small id="requestable__type_recap_edd_caption_<%= requestable.item[:id] %>" class="form-text text-muted"><%= I18n.t('requests.recap_edd.brief_msg') %></small>
                      <%= render partial: "edd_fields", locals: { requestable: requestable } %>
                  <% end %>
                </td>
              </tr>
              <% end %>
              <% if requestable.online? %>
                <%= render partial: "online_items", locals: { requestable: requestable } %>
              <% end %>
            <% end %>
            <% if @request.fill_in_eligible mfhd %>
              <%= render partial: "fill_in_field", locals: { requestable: requestable_list.last, default_pickups: @request.default_pickups } %>
            <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
    <% unless @request.all_items_online? %>
      <%= f.submit submit_message(@request.requestable), class: "btn btn-primary submit--request", disabled: submit_button_disabled(@request.requestable), data: { disable_with: "Submitting Request" } %>
    <% end %>
  <% end %>
<% end %>
