<%= simple_form_for(:request, { url: "/requests/submit", method: :post, remote: true} ) do |f| %>
  <%= hidden_fields_request @request %>
  <% if @user.guest %>
    <div class="user user-pul">
        <h3>Princeton Faculty, Staff, and Students</h3>
        <div>
          <%= current_user_status @user %>
        </div>
    </div>
    <div class="user">
      <h3>Other Users</h3>
      <fieldset class="form-group">
      <label class="control-label col-sm-2" for="user_name">
          Your Name
      </label>
      <div class="col-sm-10">
        <%= f.text_field :user_name, size: 50, maxlength: 50, class: 'form-control', error: 'User Name' %>
        <span class="error error-user_name"></span>
      </div>
      </fieldset>
      <fieldset class="form-group">
        <label class="control-label col-sm-2" for="user_barcode">
          Your Barcode (Access only patrons, may enter 'access' as their barcode in order to request materials.)
        </label>
        <div class="col-sm-10">
          <%= f.text_field :user_barcode, size: 14, maxlength: 14, class: 'form-control', error: 'Barcode', value: '22101' %>
          <span class="error error-user_barcode"></span>
        </div>
      </fieldset>
      <fieldset class="form-group">
        <label class="control-label col-sm-2" for="email">
            Contact Email
        </label>
        <div class="col-sm-10">
          <%= f.text_field :email, size: 50, maxlength: 50, class: 'form-control', error: 'Email' %>
          <span class="error error-email"></span>
        </div>
      </fieldset>
    </div>
  <% else %>
    <div class="user user-pul">
      <h3>Your Contact Information</h3>
      <dl>
        <dt>Name</dt>
        <dd><%= "#{@patron[:first_name]} #{@patron[:last_name]}" %></dd>
        <dt>Email</dt>
        <dd><%= @user.email %></dd>
      </dl>
    </div>
    <%= f.hidden_field :user_name, value: "#{@patron[:first_name]} #{@patron[:last_name]}" %>
    <%= f.hidden_field :user_barcode, value: @patron[:barcode] %>
    <%= f.hidden_field :email, value: @user.email %>
  <% end %>

  <div class="error error-items">
  </div>
  <% @request.sorted_requestable.each do |mfhd, requestable_list| %>
    <%= hidden_fields_mfhd @request.holdings[mfhd] %>
    <div id="holding<%= mfhd %>" class="table-responsive items">
      <h2><%= @request.holdings[mfhd]["location"] %> <%= @request.holdings[mfhd]["call_number"] %></h2>
        <% unless @request.holdings[mfhd]["location_has"].nil? %>
            <div>
              <h3>Location has: </h3>
            </td>
            <p>
              <% @request.holdings[mfhd]["location_has"].each do |loc| %>
                <%= loc %><br/>
              <% end %>
            </p>
        <% end %>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-bordered request--available_items tablesorter">
        <thead>
          <th>Select</th>
          <th>Enumeration</th>
          <th>Copy</th>
          <th>Status</th>
          <th>Request Options</th>
          <th>Pickup Location</th>
        </thead>
        <tbody>
          <% requestable_list.each do |requestable| %>
            <tr>
              <td>
                <%= check_box_tag "requestable[][selected]", true, check_box_selected(@request.requestable), class: 'request--select' %>
              </td>
              <% unless requestable.item.nil? %>
                <%= hidden_fields_item requestable %>
                <td>
                  <%= requestable.item["enum"] %>
                </td>
                <td>
                  <%= requestable.item["copy_number"] %>
                </td>
                <td>
                  <%= requestable.item["status"] %><br/>
                  <%= status_label requestable %>
                </td>
              <% else %>
                <%= hidden_fields_holding requestable %>
              <% end %>
              <td>
                <%= show_service_options requestable %>
                <%= hidden_service_options requestable %>
              </td>
              <td>
                <%= pickup_choices requestable %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
  <%= f.submit submit_message(@request.requestable), class: "btn btn-primary", disabled: submit_button_disabled(@request.requestable) , data: { disable_with: "Submitting Request" } %>
<% end %>