<%= form_tag('/requests/submit', method: :post, remote: true) do %>
  <% if @request.locations? %>
    <% if @request.holdings? %>
          <% @request.holdings.each do |holding| %>
    <div class="table-responsive">
      <table class="table table-striped table-bordered request--holding_header">
            <thead>
              <tr>
                <td>Shelf Location</td>
                <td>Call Number</td>
                <td>Library</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td id="holding<%= holding[0] %>">
                  <%= holding[1][:location] %>
                </td>
                <td>
                  <%= holding[1][:call_number] %>
                <td>
                  <%= holding[1][:library] %>
                </td>
              </tr>
              <% unless holding[1][:location_has].nil? %>
                <tr>
                  <td>
                    <span>Location has: </span>
                  </td>
                  <td colspan="2">
                    <% holding[1][:location_has].each do |loc| %>
                      <%= loc %><br/>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
    </div>
    <div class="table-responsive">
      <table class="table table-striped table-bordered request--available_items">
        <thead>
          <th>Select</th>
          <th>Call Number</th>
          <th>Status</th>
          <th>Options</th>
          <th>Pickup Location</th>
        </thead>
        <tbody>
                <tr>
                  <td><%= check_box_tag "holding[#{holding[0]}]", holding[0], false, class: 'request--select' %></td>
                  <td><%= holding[1][:call_number] %></td>
                  <td>Available</td>
                  <td>Recap - Arrives in One Business Day</td>
                  <td>Pickup Location</td>
                </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= submit_tag "Submit", class: "btn btn-primary", data: { confirm: "Are you sure?", disable_with: "Submitting Request" } %>
  <% else %>
    <div class="message">
      <p>See Circulation Desk, there are no requestable items for this record</p>
    </div>
  <% end %>
<% end %>