<tr id='<%= "request_#{requestable.preferred_request_id}" %>'>
  <%= render partial: 'requestable_checkbox', locals: { requestable: requestable, requestable_list: @request.requestable } %>
  <%= render partial: 'requestable_enum', locals: { requestable: requestable } %>
  <%= render partial: 'requestable_status', locals: { requestable: requestable } %>
  <td class='delivery--options' aria-live="polite">
    <% if requestable.ill_eligible? %>
      <span class="ill-data" data-ill-url="<%= requestable.illiad_request_url(request_context) %>"></span>
    <% end %>
    <%= show_service_options requestable, mfhd %>
    <%= request_input(requestable.services.first) %>
    <% if requestable.on_order? || requestable.in_process? %>
      <%= pickup_choices requestable, default_pickups %>
    <% end %>
  </td>
</tr>
