<% if requestable.ask_me? || requestable.item_data? || (requestable.services & ["on_shelf", "aeon", "on_order"]).present? %>
<tr id='<%= "request_#{requestable.preferred_request_id}" %>'>
    <td class='request--select'>
      <%= hidden_field_tag 'requestable[][selected]', false %>
      <%= item_checkbox @request.requestable, requestable %>
      <% if requestable.item_data? %>
        <%= hidden_fields_item requestable %>
      <% else %>
         <%= hidden_fields_for_requestable requestable: requestable %>
      <% end %>
    </td>
    <td>
      <% if requestable.item_data? || requestable.scsb? %>
        <span id="<%= "enum_#{requestable.preferred_request_id}" %>">
          <%= enum_copy_display requestable.item %>
        </span>
      <% end %>
    </td>
    <td>
      <% if requestable.item_data? || (requestable.services & ["on_order", "in_process"]).present? %>
        <%= system_status_label requestable %>
        <%= status_label requestable %>
      <% end %>
      <% if requestable.use_restriction? && !requestable.scsb_in_library_use? %>
        <br/>
        <%= requestable.item[:use_statement] %>
      <% end %>
    </td>
  <td class='request--options' aria-live="polite">
    <% if requestable.circulates? %>
      <%= render partial: 'delivery_options', locals: { requestable: requestable, mfhd: mfhd, default_pickups: default_pickups } %>  
    <% else %>
      <%= render partial: 'help_me_get_it' %>  
    <% end %>
  </td>
</tr>
<% end %>
<% if requestable.online? %>
  <%= render partial: "online_items", locals: { requestable: requestable } %>
<% end %>
