  <%= render partial: 'service_status' %>
  <%= simple_form_for(:request, { url: '/requests/submit.js', method: :post, remote: true, data: {type: 'script'}} ) do |f| %>
   <%= hidden_fields_request @request %>
    <% unless suppress_login(@request) %>
      <%= f.hidden_field :user_name, value: "#{pul_patron_name @patron}" %>
      <%= f.hidden_field :user_last_name, value: "#{pul_patron_last_name @patron}" %>
      <%= f.hidden_field :user_barcode, value: @patron[:barcode] %>
      <%= f.hidden_field :patron_id, value: @patron[:patron_id] %>
      <%= f.hidden_field :patron_group, value: @patron[:patron_group] %>
      <%= f.hidden_field :email, value: format_email(@patron[:active_email]) %>
    <% end %>

    <% unless @request.source.nil? %>
      <%= f.hidden_field :source, value: @request.source %>
    <% end %>
    <% if @mode == 'trace' %>
      <%= render partial: 'trace_instructions' %>
    <% end %>

    <div>
      <span class="error error-items">
      </span>
    </div>
    <%= render partial: 'umlaut_services' %>
    <%= render partial: "requestable_list_form", collection: @request.sorted_requestable.keys, as: :mfhd, locals: { sorted_requestable: @request.sorted_requestable, holdings: @request.holdings, default_pickups: @request.default_pickups } %>
    <% if !@request.all_items_online? && @request.any_circulating? %>
      <%= f.submit submit_message(@request.requestable), class: "btn btn-primary submit--request", disabled: submit_button_disabled(@request.requestable), data: { disable_with: "Submitting Request" } %>
    <% end %>
  <% end %>
