      <div>
      <% if requestable.services.include?('recap_edd') %>
        <%= hidden_field_tag "requestable[][type]", "recap" %>
        <%= radio_button_tag "requestable[][delivery_mode_#{requestable.item[:id]}]", 'print', false, data: { target: "#fields-print__#{requestable.item['id']}" }, 'aria-controls' => "fields-print__#{requestable.item['id']}", class: 'control-label' %>
        <%= label_tag "requestable[][delivery_mode_#{requestable.item[:id]}_print]", I18n.t("requests.recap.delivery_label"), class: 'control-label', id: "requestable__type_recap_label_#{requestable.item[:id]}" %>
        <%= pickup_choices requestable, default_pickups %>
      <% else %>
        <div class="delivery-option">Physical Item Delivery</div>
        <%= show_pickup_service_options requestable, mfhd %>
        <%= hidden_service_options requestable %>
        <%= pickup_choices requestable, default_pickups %>
      <% end %>
      </div>
