<span class="Z3988" title="<%= @request.openurl_ctx_kev %>"></span>
<% if @user.guest && @request.borrow_direct_eligible? %>
  <div class='alert alert-warning'>
    <%= I18n.t("requests.account.pul_user_service_msg") %>
  </div>
<% else %>
  <% if @request.borrow_direct_eligible? %>
    <script type='text/javascript'>
      var bd_fallback = '<%= @request.fallback_query %>'
      $('body').data( "bd", { link: bd_fallback } );
    </script>
    <% if @request.isbn_numbers? %>
      <%= hidden_fields_borrow_direct @request %>
      <script type='text/javascript'>
        $( document ).ready(function() {
        $(':input[type="submit"]').prop('disabled', true);
        $('select.request-options').prop('disabled', true);
        $.ajax({
          method: "POST",
          url: "/requests/borrow_direct",
          data: jQuery.param({barcode: '<%= @patron[:barcode] %>', isbns: '<%= @request.isbn_numbers.first %>'}),
          contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
          success: function (response) {
            $('#lookup').hide();
            if (response.response_hash.Available) {
              $.each(response.response_hash.PickupLocation, function( k, v ) {
                $.each(v, function( key, value ) {
                  if(key === 'PickupLocationDescription'){
                    $('#requestable__pickup')
                      .append($("<option></option>")
                        .attr("value",value)
                        .text(value));
                  }
                });
              });
              $('input#bd_auth_id').val(response.auth_id);
              if ($('input:checkbox.request--select').length == 1){
                $('input:checkbox.request--select').prop('checked', true);
              }
              $('#bd_available').show();
              $('select.request-options option').not(':eq(1)').remove();
              $('#requestable__pickup').show();
            } else {
              $('#bd_not_available').show();
            }
            $('select.request-options').prop('disabled', false);
            $(':input[type="submit"]').prop('disabled', false);

          },
        error: function () {
          alert("error");
          }
        }).done(function( msg ) {

          // if successful update the auth_id created in hidden_fields_borrow_direct
          // if successful update the pickup location widget for the bd requestable item
          // if failed due to patron auth error - print message about account issues
          // if failed due to search bd item should display fallback link

        }
      );
      });
      </script>
      <div class='umlaut-services'>
      <div id="borrow_direct" class='availability--panel availability_borrow-direct'>
        <p id="lookup">
          <img style="display:inline-block" src="<%= asset_path('requests/spinner.gif') %>"/>
          Checking BorrowDirect availablility for you.
        </p>
        <p id='bd_available' class='alert-success' style='display: none'>
          <strong>Good news!</strong> This title is available via BorrowDirect,
          the fastest way to get an item that's not currently on the shelf.
        </p>
        <p id='bd_not_available' class='alert-warning' style='display: none'>
          <strong>You have some options.</strong> Please select one from below.
        </p>
      </div>
    </div>
    <% end %>
  <% end %>
<% end %>
