<span class="Z3988" title="<%= @request.openurl_ctx_kev %>" aria-hidden="true"></span>

<script type='text/javascript'>
  // hide any items that don't match the mfhd param, if there is one
  $( document ).ready(function() {

    <% if @request.requestable.size > 1 && !@request.serial? && !@request.mfhd.blank? && !@request.borrow_direct_eligible? && @request.has_loanable_copy? %>
      $('#campus_available').show();
    <% end %>

      var mfhd_id = '';

      <% if !@request.mfhd.blank? %>
        mfhd_id = '#holding' + '<%= @request.mfhd %>';
      <% end %>

      if(mfhd_id.length){
        var related_items = $( "div[id^='holding']:not(" + mfhd_id + ")" );
        related_items.hide();
        related_items.next("div.table-responsive").hide();
      }

      $( "a#show_item" ).on( "click", function( event ) {
        event.preventDefault();
        related_items.slideToggle( "slow" );
        related_items.next("div.table-responsive").slideToggle( "slow" );
      });

  });
</script>

<% if @user.guest && @request.borrow_direct_eligible? %>
  <div class='alert alert-warning'>
    <%= I18n.t("requests.account.pul_user_service_msg") %>
  </div>
<% else %>
  <% if @request.borrow_direct_eligible? %>
    <script type='text/javascript'>
      var bd_fallback = '<%= @request.fallback_query %>'
      $('body').data( "bd", { link: bd_fallback } );
    </script>
    <% if @request.isbn_numbers? %>
      <%= hidden_fields_borrow_direct @request %>
      <script type='text/javascript'>
        $( document ).ready(function() {
          $('.table-responsive').hide();
          $('.submit--request').hide();

          $('#lookup').slideDown(1000);
          var auth_id = $('input#bd_auth_id');
          var chkbox = $(this).find('input:checkbox.request--select');
          $(':input[type="submit"]').prop('disabled', true);
          $('select.request-options').prop('disabled', true);

          $.ajax({
            method: "POST",
            url: "/requests/borrow_direct",
            data: jQuery.param({barcode: '<%= @patron[:barcode] %>', isbns: '<%= @request.isbn_numbers.first %>'}),
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (response) {
              $('#lookup').fadeOut(500);
              $('.table-responsive').delay(500).fadeIn(500);
              $('.submit--request').delay(500).fadeIn(500);
              var rows = $('tr');

              if (response.hasOwnProperty("error")){
                if (response.error.indexOf("Timeout") > -1) {
                  $('#bd_error').append("<strong>Borrow Direct is too slow for us at the moment, but you can still search for your item through their site.</strong><p>Choose one of the options below.</p>");
                } else {
                  $('#bd_error').append("<strong>There was a problem with Borrow Direct.</strong><p>Choose one of the options below.</p>");
                }
                $('#bd_error').show();
                $('select.request-options').prop('disabled', false);
                // $('.recall-pickup').show();
              } else {
                $.each(rows, function( key, val ) {
                    var pickup_select = $(this).find('.recall-pickup');
                    var request_options = $(this).find('select.request-options');

                    if (response.response_hash.Available) {
                      $.each(response.response_hash.PickupLocation, function( k, v ) {
                        $.each(v, function( key, value ) {
                          if(key === 'PickupLocationDescription'){
                            pickup_select.append($("<option></option>")
                                .attr("value",value)
                                .text(value));
                          }
                        });
                      });
                      auth_id.val(response.auth_id);

                      chkbox.first().prop('checked', true);

                      $('#bd_available').delay(500).fadeIn(500);
                      request_options.find('option').not(':eq(1)').remove();
                      request_options.prop('disabled', false);
                      //$('.recall-pickup').first().focus();
                    } else {
                      $('#bd_not_available').delay(500).fadeIn(500);
                    }
                });
              }
              // $('.recall-pickup').show();
              $(':input[type="submit"]').prop('disabled', false);
            },
          error: function () {
            alert("We are sorry for the inconvenience, but we were unable to complete your request.");
            }
          }).done(function( msg ) {

            // if successful update the auth_id created in hidden_fields_borrow_direct
            // if successful update the pickup location widget for the bd requestable item
            // if failed due to patron auth error - print message about account issues
            // if failed due to search bd item should display fallback link

          }
        );
      });
      </script>
      <div class='umlaut-services'>
      <div id="borrow_direct" class='availability--panel availability_borrow-direct'>

      <div id="lookup" role="alert" class='alert alert-info' aria-live="polite">
        <h1>Give us a moment to check Borrow Direct for your item.</h1>
        <div class='results-spinner-large'></div>
        <p>
          Sometimes this search fails, even when Borrow Direct has what you are looking for.
          If that happens, your next step should be to check Borrow Direct yourself by selecting
          it from the Delivery Options list and following the link provided.
        </p>
      </div>

        <p id='bd_available' class='alert alert-success' aria-live="polite" style='display: none'>
          <strong>Good news!</strong> This title is available via Borrow Direct,
          the fastest way to get an item that is not currently on the shelf. You just need to select a delivery location below.
        </p>
        <p id='bd_not_available' class='alert alert-warning' aria-live="polite" style='display: none'>
          <strong>Don't worry!</strong> Your best bet is still Borrow Direct, so check that first. If you can't
          find it you have some other options in the form below.
        </p>
        <p id='bd_error' class='alert alert-danger' aria-live="polite" style='display: none'></p>
        <p id='campus_available' class='alert alert-info' aria-live="polite" style='display: none'>
          <strong>There is another copy of this item available at Princeton</strong>
          <a href="">Show me the available item!</a>
        </p>
      </div>
    </div>
    <% end %>
  <% else %>
    <p id='campus_available' class='alert alert-info' aria-live="polite" style='display: none'>
      <strong>There are other copies of this item available at Princeton.</strong>
      <br> <a id="show_item" href="">Show me the other copies!</a>
    </p>

  <% end %>
<% end %>
