<div class="row">
  <div class="user user-pul col-sm-12 col-md-6">
      <h3>Princeton Faculty, Staff, and Students</h3>
      <div>
        <%= current_user_status @user %>
      </div>
  </div>
  <div class="user col-sm-12 col-md-6">
    <h3>Other Users</h3>
    <div>
      <a class="btn btn-primary" role="button" data-toggle="collapse" href="#other_user_account_info" aria-expanded="false" aria-controls="other_user_account_info">
      <%= I18n.t('requests.account.other_user_login_msg') %>
      </a>
    </div>
    <div class='collapse well' id='other_user_account_info'>
      <fieldset class="form-group required">
        <label class="control-label col-sm-10" for="user_name">
            Your Name
        </label>
        <div class="col-sm-10">
          <%= f.text_field :user_name, size: 50, maxlength: 50, class: 'form-control', error: 'User Name' %>
          <span class="error error-user_name"></span>
        </div>
      </fieldset>
      <fieldset class="form-group required">
        <label class="control-label col-sm-10" for="user_barcode">
          Your Barcode (Access only patrons, may enter 'access' as their barcode in order to request materials.)
        </label>
        <div class="col-sm-10">
          <%= f.text_field :user_barcode, size: 14, maxlength: 14, class: 'form-control', error: 'Barcode', value: '22101' %>
          <span class="error error-user_barcode"></span>
        </div>
      </fieldset>
      <fieldset class="form-group required">
        <label class="control-label col-sm-10" for="email">
            Contact Email
        </label>
        <div class="col-sm-10">
          <%= f.text_field :email, size: 50, maxlength: 50, class: 'form-control', error: 'Email' %>
          <span class="error error-email"></span>
        </div>
      </fieldset>
    </div>
  </div>
</div>