<div class="col-12">
  <%# <div class="col-12"> %>
    <%# <div class="button--start-over"> %>
      <a class="btn btn-primary" id="returnToRecordLink"
        href=<%= "/catalog/#{@request.system_id}" %>>
        <span class="icon-refresh"></span>
        <span class="d-lg-inline">
          Return to record
        </span>
      </a>
    <%# </div> %>
  <%# </div> %>
  <!-- div class="doc-message-<%= @request.system_id %>">
    <h1>Physical Requests are not being accepted at this time including Borrow Direct and Interlibrary Loan services.</h1>
    <p>While requests for physical material cannot be fulfilled at this time, library staff are working remotely to deliver materials digitally whenever possible. Responses to your request will take longer and some requests might not be fulfilled until library operations return to normal. Please use the ArticleExpress service to make your request. If you have any questions, <a href="https://library.princeton.edu/ask-us">please let us know</a>.
  </div -->
    <div class="doc-<%= @request.system_id %>">
        <h1>
          <%= request_title %>
        </h1>
      </div>
      <div class="col-12">
        <div class="bibliographic">
          <%= format_brief_record_display @request %>
        </div>
      </div>
      <%= render 'flash_messages' %>
    </div>
    <% if @request.requestable? %>
      <div class="col-12">
        <% if @patron.pickup_only? %>
          <div class="alert alert-warning">You are only currently authorized to utilize our book <a href='https://library.princeton.edu/services/book-pick-up'>pick-up service</a>. Please consult with your Department if you would like to book time to spend in our libraries using our <a href='https://library.princeton.edu/services/study-browse'>study-browse service</a>.</div>
        <% elsif !@patron.guest? && !@patron.campus_authorized %>
          <div class="alert alert-warning">You are not currently authorized for on-campus services at the Library. Please consult with your Department if you believe you should have access to these services.</div>
        <% end %>
        <%= render "form" %>
      </div>
    <% else %>
      <div class="message flash-alert">
        <p>See Circulation Desk, there are no requestable items for this record</p>
      </div>
    <% end %>
</div>
