<div class="col-12">
  <div class="col-12">
    <div class="button--start-over">
      <a class="btn btn-primary" id="returnToRecordLink"
        href=<%= "/catalog/#{@request.system_id}" %>>
        <span class="icon-refresh"></span>
        <span class="d-none d-lg-inline">
          Return to record
        </span>
      </a>
    </div>
  </div>
  <div class="doc-<%= @request.system_id %>">
    <div class="col-12">
      <h1>
        <%= request_title %>
      </h1>
    </div>
    <div class="col-12">
      <div class="bibliographic">
        <%= format_brief_record_display @request %>
      </div>
    </div>
    <%= render 'flash_messages' %>
  </div>
  <% if @request.has_requestable? %>
    <div class="col-12">
      <%= render "form" %>
    </div>
    <% else %>
    <div class="message flash-alert">
      <p>See Circulation Desk, there are no requestable items for this record</p>
    </div>
  <% end %>
</div>
